.game-content {
  width: 500px;
  min-height: 100px;
  margin: 20px auto;
  border: 1px solid #000;
  padding-left: 20px;
  display: flex;
  .left {
    flex: 2;
  }
  .right {
    flex: 1;
    position: relative;
  }
}